<div class="edit-profile">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput value="Felipe N">
    </mat-form-field>
    <app-custom-profile-img [url]="'https://material.angular.io/assets/img/examples/shiba2.jpg'" [inputStyle]="'width: 300px; height: 300px'"></app-custom-profile-img>
    <div class="content">
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="This fórum is..." value="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et illum animi exercitationem, ducimus mollitia aliquid omnis delectus, cupiditate nobis cumque ipsa quod soluta explicabo eveniet. Et vel quae expedita recusandae."></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" routerLink="/editProfile">Confirm</button>
    </div>
</div>