<div class="edit-profile">
    <h1>Edit Profile</h1>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput value={{Nome}}>
    </mat-form-field>
    <app-uploader></app-uploader>
    <div class="content">
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="This fórum is..." value={{Descricao}}></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" routerLink="/editProfile">Confirm</button>
    </div>
</div>