img {
    max-width: 450px;
    min-width: 250px;
}

.view-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 0;
    background-color: var(--gray);
    padding: 30px 50px 0px;
    border-radius: 50px;
    gap: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
