<div class="card">
    <h1>
        Login
    </h1>
    <p>
        <br>
        <mat-form-field>
            <mat-label>Email/Username</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
    <app-password [seePassword]="false" [breakLineOnInput]="true" />
    <router-outlet></router-outlet>
    <p> 
        <button mat-raised-button color="primary">Login</button>
    </p>
    <p>
        Don't have an account? <a routerLink="newaccount">Create here!</a>
    </p>
    <!-- <p>
        Esqueceu sua senha? <a href="/recover">Recupere agora!</a>
    </p> -->
</div>