<div class="card">
    <h1>
        Log In
    </h1>
    <app-custom-input name="Email" ngDefaultControl [(ngModel)]="Email" [label]="'Email/Username'"></app-custom-input>
    <app-password (valueChanged)="passwordChanged($event)" [seePassword]="false" [breakLineOnInput]="true" />
    <p>
        <button (click)="onLogin()" mat-raised-button color="primary">
            <p>Log in</p>
        </button>
    </p>
    <p>
        Don't have an account? <a routerLink="/newaccount">Create here!</a>
    </p>
    <!-- <p>
        Esqueceu sua senha? <a href="/recover">Recupere agora!</a>
    </p> -->
</div>