.card{
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    border: 3px;
    box-shadow: var(--raisin-black) 1vh 0.8vh 1vh 0.5vh;
    border-radius: 8px;
    align-items: center;
    background-color: var(--white);
}

mat-form-field{
    width: 400px !important;
}