header {
    margin: 0px;
    padding: 10px 0px 0px;
}

header {
    display: flex;
    justify-content: center;
}

header > a > img {
    width: 90px !important;
}


main {
    min-height: 80vh;
    background-color:#DAE0E6;
}

main {
    display: flex;
    justify-content: center;
}

footer{
    height: 5vh;
}

footer p {
    position: relative;
    right: 10px;
    padding: 10px 0px 0px;
}