.card-comment{
    width: 700px;
    background-color: var(--gray-300);
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
}

.user-info{
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.box-user{
    display: flex;
    align-items: center;
    gap: 10px;
}

.content{
    background-color: var(--gray);
    padding: 15px;
    font-size: 18px;
    border-radius: 12px;
    word-wrap: break-word;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border: none;
    box-shadow: gray 1px 1px 1px 1px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.delete-button img{
    width: 30px;
}
