<div class="card-profile">
    <h2>Felipe N</h2>
    <app-custom-profile-img [url]="'https://material.angular.io/assets/img/examples/shiba2.jpg'"></app-custom-profile-img>
    <div class="content">
        <p class="paragraph">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et illum animi exercitationem, ducimus mollitia aliquid omnis delectus, cupiditate nobis cumque ipsa quod soluta explicabo eveniet. Et vel quae expedita recusandae.
        </p>

        <button mat-raised-button color="primary" routerLink="/editProfile">Edit</button>
    </div>
</div>