<div class="card-profile">
    <h2>Felipe N</h2>
    <img id="profile-icon" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <div class="content">
        <p class="paragraph">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et illum animi exercitationem, ducimus mollitia aliquid omnis delectus, cupiditate nobis cumque ipsa quod soluta explicabo eveniet. Et vel quae expedita recusandae.
        </p>

        <button mat-raised-button color="primary" routerLink="/editProfile">Edit</button>
    </div>
</div>