.forum-card {
    width: 800px;
    min-height: 100px;
    background-color: var(--gray);
    border-width: 1px;
    border-color: white;
    border-radius: 9px;
    border-style: solid;
    margin: 30px;
    padding: 10px;
}

.content {
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 7px 20px;
    width: 100%;
}

.header{
    display: flex;
    align-items: center;
}

.header p{
    margin-left: 10px;
}