.forum-card {
    width: 800px;
    min-height: 100px;
    background-color: var(--gray);
    border-width: 1px;
    border-color: white;
    border-radius: 9px;
    border-style: solid;
    margin: 30px;
    padding: 10px;
}

.content {
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 7px 20px;
    width: 100%;
    gap: 20px;
}

.header{
    display: flex;
    align-items: center;
}

.header{
    gap: 10px;
}

.description{
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button-container * {
    width: 40%;
}