<div class="forum-card">
    <div class="content">
        <div class="info">
            <div class="header">
                <app-custom-profile-img [url]="image" [size]="'50px'"></app-custom-profile-img>
                <h1 class="tittle">r/{{title}}</h1>
                <p>{{inscritos}} Membros</p>
            </div>
            <p class="description">{{description}}</p>
            <button *ngIf="!enter" (click)="getForum()" mat-raised-button color="primary">Join</button>
            <button *ngIf="enter" (click)="enterForum()" mat-raised-button color="primary">Enter</button>
        </div>
    </div>
</div>