.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.imagem {
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    border-color: var(--gray-100);
    user-select: none;
    border-width: 5px;
    border-style:outset;
}
