<div class="card">
    <h1>New Fórum</h1>
    <p>
        <br>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
    <p>
        <br>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="This fórum is..."></textarea>
        </mat-form-field>
    </p>
    <input type="file" id="file-get">
    <br>
    <button mat-raised-button color="primary" (click)="CreateForum()">Create</button>
</div>