.forum-card {
    background-color: var(--gray);
    max-width: 800px;
    min-width: 600px;
    min-height: 100px;
    border-width: 1px;
    border-color: var(--white);
    border-style: ridge;
    margin: 30px;
    padding: 10px;
    border-radius: 9px;
}

.vote {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.content {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 7px 20px;
    width: 200% !important;
}

button {
    background-color: var(--primary-color);
    border: none;
    box-shadow: gray 1px 1px 1px 1px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.votes-count {
    font-size: 25px;
    margin: 10px 0px;
}

button:hover {
    background-color: var(--primary-color-100);
    cursor: pointer;
}

.info{
    display: flex;
    align-items: center; gap: 10px;
}

.pub{
    font-size: 17px;
    min-width: 350px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-image{
    width: 100%;
}

.post-content{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
}

.container-right{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button img{
    width: 30px;
}

.comments-box{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--gray-100);
    padding: 7px;
    padding-top: 15px;
    border-radius: 12px;
}

.new-comment button{
    border-radius: 0%;
    margin-left: 10px;
    height: 75px;
    width: 110px;
    margin-top: -20px;
    font-size: 20px;
    border-radius: 12px;
}

mat-form-field {
    width: 590px !important;
}