<div class="forum-card">
    <div class="content">
        <div class="vote">
            <button (click)="changeUpvote()">
                <i id="upvote" [ngStyle]="{'color': Upvoted? 'green' : 'black'}"
                    class="fas fa-arrow-up upvote"></i>
            </button>
            <p class="votes-count">0</p>
            <button (click)="changeDownvote()">
                <i id="downvote" [ngStyle]="{'color': Downvoted? 'red' : 'black'}"
                    class="fas fa-arrow-down downvote"></i>
            </button>
        </div>
        <div class="vl"></div>
        <div class="main">
            <h1 class="tittle">Tópic</h1>
            <p>Text example</p>
            <h5>Published by: Anonymous</h5>
        </div>
    </div>
</div>